@font-face {
    font-family: lato-black;
    src: url(assets/lato-black.ttf);
}

body {
    margin: auto;
    max-width: 1020px;
    background-color: #f2f2f2;
    font-family: lato-black;
}

.header {
    height: 89px;
    color: #ffffff;
    background-color: #2d303a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0 40px;
    display: flex;
    font-family: lato;
    font-weight: bold;
    font-size: 12px;
}

.logoElement {
    vertical-align: center;
    margin-top: 10%;
    color: #f06c64;
}

ul {
    margin: 0 40px;
    display: flex;
}

li {
    text-transform: uppercase;
    margin: 0 20px;
    color: #494e62;
}

li:last-child {
    margin-right: 0;
}

.logo span {
    font-family: lato;
    font-size: 22px;
}

li a {
    font-family: lato;
    font-size: 12px;
    color: #ffffff;
}

li a:hover {
    font-family: lato;
    font-size: 12px;
    color: #f06c64;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s;
}

.active {
    color: #f06c64;
}

.nav {
    display: inline-block;
}

.navBot {
    height: 6px;
    background-color: #323746;
}

.slider {
    height: 595px;
    background-color: #f06c64;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ca4549;
}

.sliderBot {
    height: 6px;
    background-color: #ea676b;
}

.btnLeft {
    margin-left: 40px;
    opacity: 0.5;
}

.btnRight {
    margin-right: 40px;
    opacity: 0.5;
}

.btnLeft:hover {
    margin-left: 40px;
    opacity: 1;
    cursor: pointer;
    transition: .2s;
}

.btnRight:hover {
    margin-right: 40px;
    opacity: 1;
    cursor: pointer;
    transition: .2s;
}

.services {
    background-color: #f2f2f2;
}

.ourServices {
    padding: 40px;
    padding-top: 57px;
    padding-bottom: 25px;
}

.ourServices h2 {
    color: #666d89;
    margin: 0;
    font-size: 30px;
}

.ourServices p {
    font-size: 18px;
    font-family: lato;
    color: #767e9e;
}

.servicesList {
    color: #767e9e;
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    padding-bottom: 30px;
}

.servicesList div {
    padding: 0 5px;
    flex: 1 300px;
    display: flex;
    margin-bottom: 18px;
}

.servicesBot {
    height: 6px;
    background-color: #ffffff;
}

.servicedescription {
    display: flex;
    flex-direction: column;
}

.servicedescription h3,
.servicedescription p {
    margin-top: 0;
    margin-bottom: 10px;
}

.servicedescription h3 {
    font-family: lato, sans-serif;
    font-size: 18px;
}

.servicedescription p {
    font-family: lato, sans-serif;
    font-size: 12px;
}

div.servicesList div img {
    margin-right: 10px;
    margin-bottom: auto;
}