@font-face {
    font-family: "Lato";
    src: local("Lato Black"), local("Lato-Black"), url("../assets/fonts/Lato-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Lato";
    src: local("Lato Bold"), local("Lato-Bold"), url("../assets/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: local("Lato Regular"), local("Lato-Regular"), url("../assets/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: local("Lato Light"), local("Lato-Light"), url("../assets/fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    --top-spacing: 95px;
    scroll-padding-top: var(--top-spacing);
    font-size: 10px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

body {
    font-family: "Lato", Verdana, sans-serif;
    max-width: 1020px;
    margin: 0 auto;
    background-color: #f2f2f2;
}


/*header part*/

.header {
    position: sticky;
    top: 0px;
    z-index: 2;
    display: flex;
    height: 95px;
    color: #fff;
    background-color: #2d303a;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px solid #323746;
}

.logo {
    font-family: lato;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    margin: 0 40px;
    z-index: 10;
}

.logo h1 {
    margin-block-start: .67em;
    margin-block-end: .67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.logoElement {
    margin-top: 10%;
    vertical-align: center;
    color: #f06c64;
}

.logo span {
    font-family: lato;
    font-size: 22px;
}

.nav ul {
    display: flex;
    margin: 0 40px;
}

.nav li {
    margin: 0 15px;
    text-transform: uppercase;
    color: #494e62;
}

.nav li:last-child {
    margin-right: 0;
}

.nav li a {
    font-family: lato;
    font-size: 12px;
    color: #fff;
}

.nav li:first-child {
    list-style-type: none;
}

.nav li a:hover {
    font-family: lato;
    font-size: 12px;
    cursor: pointer;
    transition: .2s;
    text-decoration: underline;
    color: #f06c64;
}

.nav li a.active {
    color: #f06c64;
}

.nav {
    display: inline-block;
    margin-top: 10px;
}


/*mobile nav*/

.burger-btn {
    position: fixed;
    left: 20px;
    z-index: 22;
    display: none;
    align-items: center;
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s, top 0.3s;
}

.burger-btn span {
    position: absolute;
    content: "";
    top: 9px;
}

.burger-btn span,
.burger-btn:after,
.burger-btn:before {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.burger-btn::after,
.burger-btn::before {
    content: "";
    position: absolute;
}

.burger-btn::before {
    top: 0;
}

.burger-btn::after {
    bottom: 0;
}


/**/

.menu-modal {
    position: absolute;
    top: 0;
    display: none;
}

.menu-modal-block {
    background-color: #2d303a;
    position: fixed;
    height: 100%;
    width: 70%;
    padding-top: 50px;
    z-index: 9;
}

.mobile-menu-background {
    content: "";
    background-color: #53596f;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
}

.display {
    display: block;
}

.rotate {
    transform: rotate(90deg);
}

.nav-mobile li {
    list-style-type: none;
    margin-bottom: 2.7rem;
}

.nav-mobile li a {
    font-family: lato;
    font-size: 3.2rem;
    color: #fff;
}

.nav-mobile li a:hover {
    font-family: lato;
    font-size: 3.2rem;
    cursor: pointer;
    transition: .2s;
    text-decoration: underline;
    color: #f06c64;
}

.nav-mobile li a.active {
    color: #f06c64;
}

.nav-mobile {
    display: inline-block;
    margin-top: 23.2rem;
}


/*slider import*/

.carusel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.item-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item {
    height: 600px;
    width: 100%;
    background-color: #f06c64;
    box-shadow: inset 0px -6px 0px 0px #ea676b;
    display: flex;
    align-items: center;
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
}

.item.blue {
    height: 600px;
    width: 100%;
    background-color: #648BF0;
    box-shadow: inset 0px -6px 0px 0px white;
}


/*slide img*/

.iphone--vertical-shadow {
    position: absolute;
    top: 52px;
    left: 112px;
}

.iphone--horizontal-shadow {
    position: absolute;
    top: 174px;
    right: 111px;
}

.iphone--vertical {
    position: absolute;
    top: 53px;
    left: 111px;
    cursor: pointer;
}

.iphone--horizontal {
    position: absolute;
    top: 174px;
    right: 137px;
    cursor: pointer;
}

.iphone--vertical-display {
    position: absolute;
    top: 118px;
    left: 125.2px;
    cursor: pointer;
}

.iphone--horizontal-display {
    position: absolute;
    top: 188px;
    right: 202px;
    cursor: pointer;
}

.iphone--left {
    position: relative;
    margin-top: 63px;
    left: 26px;
}

.iphone--center {
    position: relative;
    margin-top: 43px;
    z-index: 2;
}

.iphone--right {
    position: relative;
    margin-top: 63px;
    right: 26px;
    z-index: 1;
}


/**/

div.active,
div.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-name {
    padding: 10px;
}

.control {
    position: absolute;
    width: 16px;
    height: 27px;
    margin-bottom: 10px;
    margin-left: 2px;
    cursor: pointer;
}

.control.left {
    top: 280px;
    left: 40px;
}

.control.right {
    top: 280px;
    right: 40px;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    font-size: 84px;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}


/*slider animated*/

.home {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider {
    position: relative;
    display: flex;
    height: 594px;
    color: #ca4549;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


/* .slide {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in 0.1s;
    left: 0;
} */

.slide {
    position: relative;
    display: flex;
}

.slideimg div {
    display: none;
}

.slideimg div.active {
    display: block;
}

.sliderBot {
    height: 6px;
    background-color: #ea676b;
}

.btnLeft {
    margin-left: 40px;
    opacity: .5;
    z-index: 1;
    position: absolute;
}

.btnRight {
    right: 40px;
    opacity: .5;
    position: absolute;
}

.btnLeft:hover {
    cursor: pointer;
    transition: .2s;
    opacity: 1;
}

.btnRight:hover {
    cursor: pointer;
    transition: .2s;
    opacity: 1;
}

.services {
    padding: 0 4rem;
    background-color: #f2f2f2;
    border-bottom: 5px solid white;
}

.ourServices {
    padding-top: 61px;
    padding-bottom: 25px;
}

.ourServices h2 {
    font-weight: 900;
    font-size: 30px;
    color: #666d89;
}

.ourServices p {
    font-family: lato;
    font-size: 17px;
    line-height: 30px;
    color: #767e9e;
}

.servicesList {
    display: flex;
    padding-bottom: 30px;
    color: #767e9e;
    flex-wrap: wrap;
}

.servicesList-element {
    max-height: 110px;
    overflow: hidden;
}

.servicesList div {
    display: flex;
    margin-bottom: 14px;
    padding: 0 5px;
    flex: 1 300px;
}

.servicesBot {
    height: 6px;
    background-color: #fff;
}

.servicedescription {
    display: flex;
    flex-direction: column;
}

.servicedescription h3,
.servicedescription p {
    margin-top: 0;
    margin-bottom: 10px;
}

.servicedescription h3 {
    font-weight: 900;
    font-size: 18px;
}

.servicedescription p {
    line-height: 19px;
    font-size: 12px;
}

div.servicesList div img {
    margin-right: 15px;
    margin-bottom: auto;
}


/*projects part*/

.portfolio {
    color: #53596f;
    background-color: #2d303a;
}

.container {
    margin: 0 40px;
}

.project-title {
    padding-top: 65px;
}

.project-title h1 {
    font-size: 30px;
}

.project-title p {
    font-size: 17px;
    margin-top: 18px;
}

.tags ul {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    padding-inline-start: 0;
}

.tags li {
    font-size: 11px;
    margin-right: 23px;
    margin-bottom: 10px;
    padding: 3px;
    list-style: none;
    border: 1px solid #767e9e;
    border-radius: 5px;
}

.tags li:hover {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
    transition: .2s;
    opacity: 1;
    cursor: pointer;
}

.tags li.active {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

.projects {
    padding: 0px 30px;
    padding-bottom: 58px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}

.projectslist {
    display: flex;
    /* margin-top: auto;
    margin-bottom: auto; */
    flex-wrap: wrap;
    /* justify-content: space-between;
    max-height: 620px; */
}

.projects {
    overflow: hidden;
}

.projectimg {
    margin: 8px;
    flex: 1 0 20%;
    /* overflow: hidden;
    width: 220px;
    height: 187px;
    margin-bottom: 20px; */
}


/* .projectimg::before {
    content: "";
    float: left;
    padding-top: 100%;
} */

.projectimg img {
    width: 100%;
}

.about-us {
    margin: 0 40px;
    margin-top: 66px;
    margin-bottom: 70px;
    color: #666d89;
}

.about-us h2 {
    font-family: lato-black, sans-serif;
    font-size: 29px;
    margin-bottom: 15px;
}

.about-us p {
    font-family: lato, sans-serif;
    font-size: 17px;
    line-height: 32px;
    margin-bottom: 39px;
}

.portrets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.socialbtn li {
    margin-right: 8px;
    list-style: none;
}

.socialbtn li:hover {
    transition: .2s;
    opacity: 0.4;
}

.portretbox {
    overflow: hodden;
    flex: 1 0 5%;
    max-width: 302px;
}

.portretbox h3 {
    font-size: 17px;
    margin-top: 10px;
}

.portretbox p {
    font-size: 1.2rem;
    line-height: 22px;
    margin-top: 7px;
    margin-bottom: 22px;
}

.socialbtn {
    margin-top: 24px;
    margin-bottom: 15px;
}


/*шапка 
/* .portfolio::before,
.services::before,
.about-us::before,
.futerbox::before {
    display: block;
    content: "";
    height: 55px;
    margin: -55px 0 0;
} */


/*footer*/

.contactlist a,
.social a {
    text-decoration: none;
    color: #f0d8d9;
}

.top p,
.contact p {
    font-family: lato, sans-serif;
    margin: 0;
    margin-top: 0;
}

.contactlist ul {
    padding: 0;
}

.top {
    padding-top: 59px;
    padding-bottom: 41px;
}

.top h2 {
    font-family: lato, sans-serif;
    font-size: 31px;
    padding-bottom: 18px;
}

.top p {
    font-size: 17px;
    line-height: 29px;
}

.footerbox {
    color: #f0d8d9;
    padding: 0 40px;
    background-color: #f06c64;
}

.formobj form {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: space-between;
}

input,
textarea {
    font-size: 12px;
    line-height: 22px;
    width: 618px;
    margin-bottom: 13px;
    border-style: none;
    border-radius: 5px;
    background-color: #d6564f;
}

input::placeholder,
textarea::placeholder {
    margin: auto;
    color: #e87675;
}

input::placeholder,
textarea::placeholder {
    padding-left: 15px;
}

input {
    height: 38px;
}

input:hover {
    background-color: #2d303a;
    transition: 0.4s;
}

textarea {
    height: 202px;
}

textarea:hover {
    background-color: #2d303a;
    transition: 0.4s;
}

.formobj {
    max-width: 620px;
}

.form-button {
    font-family: "Lato";
    padding: 7px 14px;
    border: none;
    cursor: pointer;
    background-color: #d6564f;
    width: 136px;
    height: 38px;
    left: 39px;
    top: 3540px;
    background: #FBC65F;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #886A30;
}

.form-button:hover {
    background-color: #2d303a;
    transition: 0.4s;
}

.contact {
    max-width: 300px;
}

.contact p {
    font-size: 1.2rem;
    line-height: 22px;
    margin-top: 11px;
}

.contact h3 {
    font-size: 17px;
    line-height: 14px;
}

.countact ul,
.social ul {
    padding-inline-start: 0;
}

.contactlist li {
    font-size: 11px;
    padding-top: 9px;
    list-style: none;
    vertical-align: center;
}

.contactlist li img {
    margin-right: 12px;
}

.socialbtn li {
    list-style: none;
}

.socialbtn {
    display: flex;
    margin-top: 24px;
    margin-bottom: 15px;
}

.social {
    margin-right: -7px;
    margin-top: -5px;
}

ul.socialbtn {
    margin: 0;
    padding-inline-start: 0;
}

.bottom {
    color: #666d89;
    display: flex;
    padding: 24px 40px;
    padding-top: 27px;
    border-top: 6px solid #ea676b;
    background-color: #2d303a;
    justify-content: space-between;
}

.bottom h4 {
    font-size: 12px;
    margin-top: 6px;
    margin-left: 4px;
}


/*singolo DOM*/

.projectslist .hidden {
    display: none;
}

.projectslist .hidden {
    display: box;
}

.projectslist .border {
    outline: rgb(240, 108, 100) solid 5px;
    transition: 0.3s;
}

#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ca4549;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-block.hidden {
    display: none;
}

#message {
    position: absolute;
    border: 2px solid black;
}


/*script*/

.test {
    display: flex;
}

.test li {
    height: 100px;
    width: 200px;
    list-style: none;
    margin: 10px;
}

.test li.active {
    background: red;
    color: wheat;
}

.test h1 {
    display: block;
}

.test-list {
    display: flex;
}

table {
    border-collapse: collapse;
}

.selected {
    background: red;
}


/*responsive*/

@media (max-width: 1019px) {
    .social {
        margin: 0 auto;
    }
    form {
        margin-bottom: 15px;
    }
    .bottom h4 {
        display: none;
    }
    .servicesList div {
        margin-bottom: 28px;
    }
    .ourServices {
        padding-top: 42px;
    }
    .home {
        height: 58.8vw;
    }
    .item,
    .item.blue {
        height: 58.8vw;
    }
    .portretbox p {
        max-height: 65px;
        overflow: hidden;
    }
    .portret-image img {
        width: 100%;
    }
    .portretbox {
        margin: 10px;
    }
    .projectimg {
        margin-right: 20px;
        margin-bottom: 18px;
        cursor: pointer;
        flex: 1 0 25%;
    }
    .tags {
        margin-top: 26px;
    }
    .about-us {
        margin-top: 59px;
    }
    .container {
        margin-bottom: 30px;
    }
    .iphone--vertical-shadow {
        width: 23.53vw;
        height: 47.35vw;
        top: 5.1vw;
        left: 10.98vw;
    }
    .iphone--horizontal-shadow {
        width: 47.35vw;
        height: 23.53vw;
        top: 17.06vw;
        right: 10.88vw;
    }
    .iphone--vertical {
        width: 21.18vw;
        height: 44.9vw;
        top: 5.19vw;
        left: 10.88vw;
    }
    .iphone--horizontal {
        width: 44.9vw;
        height: 21.18vw;
        top: 17.06vw;
        right: 13.43vw;
    }
    .iphone--vertical-display {
        width: 18.43vw;
        height: 32.65vw;
        ;
        top: 11.57vw;
        left: 12.27vw;
    }
    .iphone--horizontal-display {
        width: 32.65vw;
        height: 18.43vw;
        top: 18.43vw;
        right: 19.8vw;
    }
    .iphone--left {
        width: 15.39vw;
        height: 30.78vw;
        margin-top: 6.18vw;
        left: 2.55vw;
    }
    .iphone--center {
        width: 25vw;
        height: 50.29vw;
        margin-top: 4.22vw;
    }
    .iphone--right {
        width: 15.39vw;
        height: 30.78vw;
        margin-top: 6.18vw;
        right: 2.55vw;
    }
    .control.left {
        top: 27.45vw;
        left: 3.92vw;
    }
    .control.right {
        top: 27.45vw;
        right: 3.92vw;
    }
    input,
    textarea {
        width: 440px;
        margin-right: 29px;
    }
    .form-button {
        width: 440px;
    }
}

@media (max-width: 767px) {
    .ourServices {
        padding-top: 26px;
    }
    .logo {
        font-size: 10px;
    }
    .projectimg img {
        width: 100%;
    }
    .servicesBot {
        left: -8vw;
        width: 100vw;
    }
    .projectimg {
        flex: 1 0 32%;
    }
    .projectimg:nth-child(n+9) {
        display: none;
    }
    .project-name {
        display: none;
    }
    .burger-btn {
        display: block;
        transition: 0.3s all ease;
    }
    .nav {
        display: none;
    }
    .header {
        height: 70px;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        margin: auto;
    }
    .portretbox {
        max-width: 100%;
        margin-bottom: 10%;
    }
    /*margin.padding*/
    .projects,
    .services,
    .footerbox,
    .bottom {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .container,
    .about-us {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
    }
    .form {
        flex-direction: column;
    }
    input,
    textarea,
    .form-button {
        width: 100%;
    }
    .portrets {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 374px) {
    .header {
        height: 70px;
    }
    .projectimg {
        flex: 1 0 35%;
        margin: 5px;
    }
}